{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<form class="form-signin" method="POST" action="">
			{% csrf_token %}
			<h1 class="text-center">RailConnect</h1>
			<h2 class="form-signin-heading">Staff Login</h2>
			{{ form.username.label_tag }} {{ form.username }} {{ form.password.label_tag }} {{ form.password }}

			<p class="bs-component">
				<center>
					<input class="btn btn-success btn-sm" type="submit" value="login" />
				</center>
			</p>
			<input type="hidden" name="next" value="{{ next }}" />

		</form>
	</div>
</body>

</html>