{% extends "adminfuncs/base.html" %} {% load static %} {% block styles %}
{% load table_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/datatables.min.css' %}" /> {% endblock styles %} {% block content %}
<div id="page-wrapper">
	<h1 class="text-center">Trips management
	</h1>
    <hr>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <h2 class="text-center">Add a new Trip</h2>
				<form class="form-horizontal" method="POST">
					{% csrf_token %}
					 {{ formset}}
					 <input type="submit" value="Submit" />
					</form>

			</div>
		</div>
	</div>
	{% endblock content %} {% block scripts %}
	<script type="text/javascript" src="{% static 'DataTables/js/datatables.min.js' %}"></script> {% endblock scripts %}
</div>